*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(46, 46, 46);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
body::after{
    content: '';
    position: absolute;
    clip-path: circle(80% at right 100% );
    width: 100%;
    height: 100%;
    background-color:  rgb(204, 100, 240);
    z-index: -1;
}
.all{
    width: 90%;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo h1 a{
    color: white;
    text-decoration: none;
}
.logo h1 a span{
    color: rgb(204, 100, 240);
    transition: .4s;
}
.nav ul{
    display: flex;
    list-style:none;
}
.nav ul li{
    padding-right: 40px;
}
.nav ul li a{
    color: rgb(46, 46, 46);
    text-transform: capitalize;
    text-decoration: none;
    transition: .4s;
    font-weight: bold;
}
.nav ul li a:hover{
    color:  rgb(255, 255, 255);
}
section h2{
    color: white;
    margin-bottom: 0;
    font-size: 35px;
}
section h1{
    color: rgb(204, 100, 240);
    font-size: 45px;
}
section p{
    color: white;
    width: 53%;
    margin-top: 10px;
}
section h3{
    margin: 22px 0;
}
section h3 a{
    color: white;
    background-color:rgb(204, 100, 240);
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 13px;
    border-radius: 18px;
    font-size: 25px;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width:90%;
    margin: auto;
}
section .pic img{
    width: 430px;
}
.icons a img{
    width: 30px;
    margin-right: 10px;

}
@media (max-width:900px){
    section .pic img{
        width: 300px;
    }
    body::after{
        content: '';
        position: absolute;
        clip-path: circle(100% at right 10% );
        width: 00%;
        height: 00%;
        background-color:  rgb(53, 53, 53);
        z-index: -1;
    }
    section{
        flex-direction: column;

    }
    header{
        flex-direction: column;
    }
    header .nav ul li a{
        color: white;
    }
    header .nav ul li{
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding-top: 15px;
        
    }
    section .text,section .text p{
        width: 90%;
        text-align: center;
        
    }
    
}

